body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
  color: #333333;
  padding: 3px;
}

.wrapper {
  width: 1080px;
  height: 1920px;
  margin: 0 auto; /* Mengatur posisi halaman di tengah */
  background-color: #f5f8f8;
  padding: 20px; /* Jarak dari tepi halaman */
  box-sizing: border-box; /* Penyesuaian untuk padding */
}

.table-dashboard {
  border-collapse: collapse !important;
  width: 100% !important;
}
.table-dashboard > thead > tr > th {
  background-color: #f2f2f2 !important;
  padding: 8px !important;
  text-align: left !important;
}
.table-dashboard > thead > tr > th:first-child {
  padding-left: 12px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.table-dashboard > tbody > tr > td:first-child {
  padding-left: 14px !important;
}
.table-dashboard > thead > tr > th:last-child {
  padding-right: 12px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.table-dashboard > tbody > tr > td:last-child {
  padding-right: 14px !important;
}

.table-dashboard > thead > tr > td,
th {
  padding: 10px !important;
}

.table-dashboard > thead > tr > th {
  border-bottom: 0px solid #ddd !important;
}

.table-dashboard > tbody > tr > td {
  border-top: 0px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  padding: 10px !important ;
  vertical-align: top !important;
}

.table-scrolling {
  width: 100%;
  border-collapse: collapse;
}

.table-scrolling > thead {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.table-scrolling > tbody {
  display: block !important;
  max-height: 292px !important;
  min-height: 292px !important;
  overflow-y: auto !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.table-scrolling > thead > tr > th,
.table-scrolling > thead > tr > td {
  padding: 8px !important;
  box-sizing: border-box !important;
}

.table-scrolling > thead > tr > th {
  background: #f2f2f2 !important;
}

.table-scrolling > thead > tr > td {
  background: #fff !important;
}

/* CARD ACCORDION  */
.card-header {
  cursor: pointer;
}

.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: solid #9f9f9f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-right: 5px;
}

.open .arrow {
  transform: rotate(-135deg);
}

.card-content {
  padding: 10px;
  display: none;
}

/* Image Round row */
.image-round-row img {
  border-radius: 50%; /* Membuat gambar menjadi bulat */
  margin: 0 -7px; /* Memberi jarak antar gambar */
  border: 2px solid #e4e3e3; /* Memberi border putih */
  background-color: #cfcfcf;
}

.image-container {
  display: flex;
  align-items: center;
  position: relative;
}

.image-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid #e4e3e3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 -7px;
  background-color: #cfcfcf;
}

.more-images {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ede7ff;
  border: 2px solid #fff;
  color: #7954e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.tooltip-image {
  display: none;
  position: absolute;
  top: -36px;
  left: 26px;
  background-color: white;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.more-images:hover .tooltip-image {
  display: flex;
}

.tooltip-image .image {
  width: 40px;
  height: 40px;
}
